h1 {
  color: #369;
  font-family: Lucida Sans, Helvetica, sans-serif;
  font-size: 250%;
}

h2 {
  color: #369;
  font-family: Lucida Sans, Helvetica, sans-serif;
  font-size: 125%;
}

h3 {
  color: #369;
  font-family: Lucida Sans, Helvetica, sans-serif;
  font-size: 75%;
}
